#faq ul{
  list-style-type: none;
  padding-left: 0;
}

#faq ul li{
  background-image: url("../img/faq-bg.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: 3px 3px 3px 3px;
}
#faq h3{
  background:    rgba(128,14,25,.8);
  color: white;
  padding:       10px;
  border-radius: 3px 3px 0px 0px;
  margin-bottom: 0;
}
#faq p{
  color:      black;
  padding:    1em 10em 2em 1em;
  margin:     0;
  border-radius: 0px 0px 3px 3px;
}
